<h3 class="text-lg font-bold mb-3">ایجاد دسته بندی</h3>

<form action="" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="space-y-2 mb-3">
        <label class="label">نام :</label>
        <input 
        type="text" 
        class="input sm:input-lg w-full" 
        placeholder="نام" 
        name="name"
        ngModel
        required
        #name="ngModel"
        [class.input-error]="name.invalid && name.touched"
        />
    </div>
    <div class="space-y-2 mb-3">
        <label class="label">توضیحات :</label>
        <input 
        type="text" 
        class="input sm:input-lg w-full" 
        placeholder="توضیحات" 
        name="description"
        ngModel
        #description="ngModel"
        [class.input-error]="description.invalid && description.touched"
        />
    </div>

    <div class="space-y-2 mb-5">
       <label class="label">رنگ :</label>
       <input
         type="color"
         class="input w-full h-12 p-1"
         name="color"
         ngModel
         #color="ngModel"
         [class.input-error]="color.invalid && color.touched"
       />
    </div>

    <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-lg w-full">ایجاد</button>
</form>