<header class="navbar bg-base-200 shadow-sm mb-5 px-3">
  @if (!isLoggedIn) {
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" (click)="openDialog('register')">ثبت نام</a>
    <a class="btn btn-ghost text-xl" (click)="openDialog('login')">ورود</a>
  </div>
  }

  @else {
  <div class="flex-1">
    <a class="btn btn-ghost text-xl flex-1" href="">{{ username }}</a>
  </div>
  <div class="flex-none">
    <button class="btn btn-error text-xl" (click)="logout()">
      <i-lucide [img]="logOut" class="my-icon"></i-lucide>
    </button>
  </div>
  }
</header>

<app-modal #registerModal id="registerModal">
    <app-register (registered)="onRegistered()"></app-register>
</app-modal>

<app-modal #loginModal id="loginModal">
    <app-login (loggedIn)="onLoggedIn()"></app-login>
</app-modal>